body{
     margin:0;
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background:#333;
}
 .room{
      width: 200px;
     height: 300px;
     background:#fff;
 }
  nav p{
       margin: 0;
       padding: 0;
  }
   span{
        font-size: 10px;
   }